@charset "UTF-8";
/* CSS 장바구니 #div-monitor Start */
 .wrap-root{
	border-bottom: 1px solid #eaeaea;
} 
.cart-div{
	width: 1000px; margin: 0 auto; 
}
.table-cart {
	width: 100%;
	margin-top: 45px;
	border-collapse: collapse;
	
}
.table-cart th{
	
	font-weight: normal;
	font-size: 16px;
	border-top: 2px solid #bbbbbb;
	border-bottom: 2px solid #bbbbbb;
	height: 60px;
	
}
/* CSS 장바구니 #div-monitor End */
/* CSS USER */
.header .auth-form {display:none;position:absolute;top:35px;left: 0;right: 0;margin-left: auto;margin-right: auto;width: 300px;padding:12px 19px;background-color:#fff;border:1px solid #969696;z-index:10;}
.mylist-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.mylist-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.lo-btn {
	padding: 6px 12px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.border-input {
  line-height: normal;
}
.div-img-profile {
	float: left;
    width: 128px;
    height: 128px;
    margin-right: 20px;
    background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.my-border-input{
	line-height: normal;
	width:250px;
}
.table-profile>tr{
	border-bottom: 1px solid #f3f4f5;
}
.table-profile>tr>th{
	width:200px;
	text-align: left;
}
.table-profile>tr>td{
	width: 700px;
}
.table-induProfile>tr{
	border-bottom: 1px solid #f3f4f5;
}
.table-induProfile>tr>th{
	width:200px;
	text-align: left;
}
.table-induProfile>tr>td{
	width: 700px;
}
/* CSS USER */

body {margin: 0 auto;}
a {background: transparent;}
img {border: 0;cursor: pointer;}
a {color: black;text-decoration: none;cursor: pointer;}
ul, ol, li {list-style: none;}
/* 카테고리 바 */
.category-bar {height: 42px;background: black;}
.nav-container {width: 1000px;margin: 0 auto;position: relative;}
.store-gnb ul {margin: 0;padding: 0;list-style: none;color: white;font-size: 15px;}
.store-gnb>ul>li {float: left;display: block;height: 42px;}
.store-gnb>ul>li>a {display: inline-block;color: white;padding: 12px 20px;}
.store-gnb>ul>li:hover {background-color: #808080;}
.store-gnb>ul>li.all-menu>a {padding: 13px 14px 17px 15px;height: 12px;line-height: 17px;background: black;}
.store-gnb>ul>li.all-menu:hover .store-lnb {display: block;}
.store-gnb>ul>li>a>.caret {margin-left: 50px;}
.store-gnb>ul>li>a>.genre-list {position: relative;display: inline-block;padding: 0;width: 20px;height: 15px;top: 2px;margin-right: 9px;}
.caret {display: inline-block;width: 0;height: 0;margin-left: 2px;vertical-align: middle;border-top: 4px solid;border-right: 4px solid transparent;border-left: 4px solid transparent;}
.store-lnb {display: none;position: absolute;top: 40px;left: 0;z-index: 10;border: 2px solid black;height: 432px;background-color: white;}
.store-lnb>ul {position: relative;width: 180px;padding-right: 180px;}
.store-lnb>ul>li {text-align: left;}
.store-lnb>ul>li a {display: block;padding: 9px 20px;}
.store-lnb>ul>li a:hover {box-shadow: 400px 0 0 0 rgb(128, 128, 128) inset;cursor: pointer;}
.store-lnb>ul>li>a {font-weight: bold;font-size: 14px;}
.store-lnb>ul>li.active>a {text-decoration: none;background: white;color: black;}
.store-lnb>ul>li .caret {display: none;position: absolute;top: 16px;right: 10px;}
.store-lnb>ul>li.active .caret {display: block;}
.store-lnb>ul>li>ul {position: absolute;width: 180px;top: 0;right: 0;height: 432px;background: #f8f8f8;border-left: 1px solid black;}
.store-lnb>ul>li.active>ul {z-index: 2;overflow-y: auto;display: block;}
.store-lnb>ul>li>ul>li>a {font-size: 13px;}
.img-advertise .main-advertise {overflow: hidden;max-height: 545px;border-bottom: 1px solid white;position: relative;}
#img-advertise #main-img-btn-clearfix {max-width : 1000px;height: 45px;margin: 0 auto;border-left: 1px solid white;}
/* 봄 여름 가을 겨울 버튼 */
#img-advertise #main-img-btn-clearfix li {float: left;width: 25%;height: 45px;margin: 0;background: black;border-right: 1px solid white;border-radius: 0;box-sizing: border-box;}
#img-advertise #main-img-btn-clearfix button {color : white;display: block;position: relative;width: 100%;height: 45px;line-height: 45px;padding: 0 35px;text-align: center;text-indent: 0;font-size: 15px;outline: 0;font-weight: bold;} 
#img-advertise #main-img-btn-clearfix button:hover {color: #808080;border-bottom: 2px solid white;border-top:  2px solid white;border-left: 2px solid white;border-right: 2px solid white;}
/* 메인페이지 더보기 */
.widget-header .more {float: right;margin-top: 6px;font-size: 11px;color: black;font-weight: bold;}
.widget-header .more:hover {color: #0080ff;}
/* 부크크 차트  */
.pull-left {float: left;margin-right: 4px;}
.pull-right {float: right; margin-right: 4px !important;}
/* 텍스트 글 */
.text-center {text-align: center !important;}
.text-left {text-align: left !important;}
.text-right {text-align: right;}
/* 버튼 */
.btn {display: inline-block;border-radius: 3px;padding: 9px 10px 11px;background: none;border: 0;border: 1px solid transparent;font-size: 12px;letter-spacing: -1px;cursor: pointer;}
a.btn:hover {text-decoration: none;}
/* 책 */
.widget-content {overflow: hidden;}
.book-list {margin-right: -20px;}
.book-list .book-item {width:1000px;margin: 25px 20px 0 0;height: 240px;}
.book-item .book-cover {margin-bottom: 8px;}
.book-cover {position: relative;width: 104px;height: 158px;}
.book-deco {position: absolute;left: 0;top: 0; display: block;width: 104px;height: 158px;}
.book-deco:hover {border-bottom: 2px solid blue;}
.book-title:hover {color: red;}
.book-cover img {width: 104px;height: 154px;margin-top: 4px;}
.a-book-cover {float: left;width: 16.6%;}
.book-item .book-title {font-weight: bold;font-size: 10px;}
.book-item .book-author {margin-top: 4px;font-size: 10px;color: blue;}
/* 장르, 더보기 */
.widget-header {height: 24px;padding: 12px 1px;border-bottom: 1px solid black;}
.widget-header h3, .widget-title {float: left;margin: 0 30px 0 0;font-size: 16px;}
/* 메인페이지 중간부분 이미지 배너 */
.section-ad {padding: 20px 0 20px;overflow: hidden;}
.ad-item {float: left;width: 320px;height: 100px;margin-right: 12px;}
.section-ad .ad-item:hover a img {border: 2px solid blue;}
/* 이주의 책, 부크크 차트 */
.nav {list-style: none;margin: 0;padding: 0;}
.nav-tabs-vertical {float: left;width: 70px;text-align: center;}
.nav-tabs-vertical li a {display: block;height: 67px;line-height: 67px;}
.nav-tabs-vertical li.active a:hover {text-decoration: none;color: #0000ff;border-bottom: 2px solid blue;}
.nav-tabs-vertical li.active a {background-color: black;color: white;cursor: pointer;font-weight: bold;}
.section-ranking {overflow: hidden;}
.section-ranking .widget {width: 480px;}
.section-ranking .widget-content {height: 202px;border-bottom: 1px solid black;}
#left-ranking-content {float: left; width: 390px; padding: 18px 0 0 0;}
#ranking-left-div {display: block;}
#ranking-left-cover {float: left; width: 150px;}
#ranking-left-book-cover {margin: 3px auto 0;}
#ranking-left-cover-img {width: 104px; height: 154px; margin-top: 4px;}
#ranking-left-ol {margin: 0; font-family: Verdana, sans-serif; list-style: none; padding: 0;}
#ranking-left-ol li {overflow: hidden;margin: 0 0 1px 0px;padding: 2px 10px 3px 10px;border: 1px solid transparent;line-height: 20px;}
#ranking-left-ol li .index {display: block;float: left;padding-right: 10px;}
.ranking-left-title {display: block;float: left; width: 140px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;font-family: 'Malgun Gothic','Nanum Gothic',Dotum,serif;text-decoration: none;}
.ranking-left-writter {display: block;float: right;text-align: right;font-size: 11px;line-height: 20px;color: #808080;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#ranking-left-ol li:hover {background: #c0c0c0}
#right-ranking-content {float: left; width: 390px; padding: 18px 0 0 0;}
#ranking-right-div {display: block;}
#ranking-right-cover {float: left; width: 150px;}
#ranking-right-book-cover {margin: 3px auto 0;}
#ranking-right-cover-img {width: 104px; height: 154px; margin-top: 4px;}
#ranking-right-ol {margin: 0; font-family: Verdana, sans-serif; list-style: none; padding: 0;}
#ranking-right-ol li {overflow: hidden;margin: 0 0 1px 0px;padding: 2px 10px 3px 10px;border: 1px solid transparent;line-height: 20px;}
#ranking-right-ol li .index {display: block;float: left;padding-right: 10px;}
.ranking-right-title {display: block;float: left; width: 140px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;font-family: 'Malgun Gothic','Nanum Gothic',Dotum,serif;text-decoration: none;}
.ranking-right-writter {display: block;float: right;text-align: right;font-size: 11px;line-height: 20px;color: #808080;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; width: 50px;}
#ranking-right-ol li:hover {background: #c0c0c0}


/* CSS 장바구니 #div-monitor Start */
.table-cart-price{
	width: 100%; margin-top: 70px;
	border-collapse: collapse;
}
.table-cart-price td{
	text-align:center;
	border-bottom: 2px solid #eee;
	width: 33.33%;
	font-size: 16px;
	height: 120px;
}

.table-cart-price th{
	text-align:center;
	width:33.33%;
	font-weight: normal;
	font-size: 16px;
	border-top: 2px solid #bbbbbb;
	border-bottom: 2px solid #bbbbbb;
	height: 60px;
	
}
#div-cart-footer-content-left{
	float:left;
	position: relative; margin-top: 4px;
	padding-left: 20px; color: #ce6a52;
}
#div-cart-footer-content-right{
	margin-right: 4px; float: right;
}
.wrap-root{
	border-bottom: 1px solid #eaeaea;
}
.cart-div{
	width: 1000px; margin: 0 auto; 
}
.table-cart {
	width: 100%;
	margin-top: 45px;
	
}
.table-cart th{
	text-align:center;
	font-weight: normal;
	font-size: 16px;
	border-top: 2px solid #bbbbbb;
	border-bottom: 2px solid #bbbbbb;
	height: 60px;
	
}
.table-cart td{
	border-bottom: 2px solid #eee;
	width: 684px;
	height: 149px;
}
.table-buyer-info{
	width:100%;
	border-top: 1px solid #aaa;
	border-collapse: collapse;
}
.table-buyer-info td{
	height: 50px;
	border-bottom: 1px solid #eee;
}
.table-buyer-info td input{
	margin-left: 15px; 
	width: 170px;
	height: 28.19px;
	
}
.table-buyer-info .left-td{
	text-align:center;
	background-color: #f8f8f8;
	width: 100px;
	font-size: 14px;
	
}
.table-buyer-info .left-td-2{
	text-align:center;
	background-color: #f8f8f8;
	width: 150px;
	font-size: 14px;
	
}
.div-cart-list-content{
	float: left;
	
}
/* CSS 장바구니 #div-monitor End */
/* 책 리스트 사이드바 */
#bookk-store .category .nav-container {position: relative; top: -1px;}
.sidebar { position: absolute; top: 0; left: 0; width:150px; padding: 25px 0;}
.category .sidebar {width: 177px; padding-top: 0;}
#main {min-height: 700px; padding: 1 0 80px 40px; border-left: 1px solid black;}
.category #main {width: 740px; margin-left: 176px; padding-top: 1px;}
.category #main #list-header {position: relative; padding-top: 0px; left: 30px;}
#list-header {padding: 22px 0 0; overflow: hidden;}
.category #main #list-header #location {position: absolute; height:50px; right: 0; bottom: 2px; color: black; width: 250px;}
.category #main #list-header #location a {color : black; font-weight:bold; font-size: 12px;}
.category #main #list-header #location a:hover {color: blue;}
.category #main #list-content #list-content-header {margin-top: 25px;}
#list-content-header {margin: 50px 0 12px;}
.category #main #list-content #list-content-header h4 {color : blue; float: left; margin: 0; font-size: 14px; line-height: 20px; letter-spacing: -2px; left: 10px; position: relative;}
.category #main #list-content #list-content-header p {line-height: 20px;}
#list-content-header p {float: left; margin: 2px 0 0 10px; font-size: 12px; color: black;}
#btn-group-sub-nav {top: 0px;}
#btn-group-sub-nav-1 {display: table; float: right;}
.category #main #list-content #list-content-header #btn-group-sub-nav a {border-left: none; float: left; font-size: 12px; padding: 0 5px;}
#sidebar-lnb {padding-left: 5px;}
.depth1 {margin-top: 25px;}
.ul-lnb-small {position:relative; margin-top: 10px; right: 50px;}
#sidebar-lnb>ul {margin-right: 5px; padding-bottom: 10px; border: 1px solid black; padding: 0; margin: 0; list-style: none;}
#sidebar-lnb>ul>li {margin-top: 10px; position: relative; height: 30px;}
.category #sidebar-lnb>ul>li .active .circle {background: white;}
.category #sidebar-lnb>ul>li .circle {position: absolute; left: 3px; cursor: pointer;}
.circle {border-radius: 50%; width: 18px; height: 18px; display: inline-block; border: 1px solid black;}
.circle {background:url("../img/plus-1.png") center no-repeat;}
.category #sidebar-lnb>ul>li>a {font-size: 16px;}
.category #sidebar-lnb ul li a {width:140px; font-size: 13px; position: relative; height: auto; line-height: 20px; padding: 4px 10px 6px 29px; text-decoration: none; font-weight: bold;}
.category #sidebar-lnb ul li a:hover {color:red; font-weight: 3px bold;}
.category #sidebar-lnb>ul>li .ic-horizontal {position: absolute; left: 3px; cursor: pointer;}
.ic-horizontal {border-radius: 50%; width: 18px; height: 18px; display: inline-block; border: 1px solid black;}
.ic-horizontal {background:url("../img/-.jpg") center no-repeat;}
.category #sidebar-lnb>ul>li>ul {display: block; padding-left: 25px;border-left: 1px solid black;position: relative;right: 1px;}
.category #sidebar-lnb>ul>li>ul>li>a {padding-left: 0px; color: black; background: none; border-left: 3px solid transparent; font-weight: normal;}
.category #sidebar-lnb>ul>li>ul>li>a:hover {color: red;}
.sidebar li a {display: block; width: 170; margin-left: 25px; margin-left: 0;}
#list-section-header {margin-top: 25px; margin: 50px 0 12px;}
.list-section-title {color: blue; float: left; margin: 0; font-size: 14px; line-height: 20px; letter-spacing: -2px; position:relative; left: 50px;}
.list-section-title span {color: black;}
#list-section-container {width: 665px; padding: 25px 0 25px 75px; overflow: hidden; margin: 0 auto; position: relative;}
#list-section-book {opacity: 1; }


/* 리스트 테이블 CSS */
#list-content-table {width: 100%; border-top: 1px solid gray; font-size: 12px; border-collapse: collapse; border-spacing: 0; display: table;}
#list-content-table tr {display: table-row; vertical-align: inherit; border-color: inherit; }
#list-content-table td {border-bottom: 1px solid gray;}
.product-image {padding-top: 50px; padding-left: 25px;}
#list-content-table .product-info {padding: 0px;}
#list-content-table .product-info h3 {font-size: 18px; width: 468px; position: relative; bottom: 130px;}
#list-content-table .product-info h3 a {position: relative; bottom: 130;}
.product-meta {position: relative; bottom: 110px;}
.list-right-span {float: left; border-right: 1px solid #c8c8c8; margin-right: 8px;}
.list-right-span a {padding: 0 10px 0 5px; color: red;}
.list-right-publisher {float: left; margin-right: 15px;}
.last {border-right: none;}
.product-price {clear: both; line-height: 1; position: relative; bottom: 80px;}
.product-price strong {position: relative; top: 2px; font-family: Arial, sans-serif; font-size: 24px; letter-spacing: 0; color: red;}
.product-price .currency {font-size: 14px;}
.btn-group {position: relative; bottom: 30px;}
#list-section-content {border-top: 1px soild black; border-bottom: 1px soild black;}

/* 리스트 버튼 */
.product-info .btn-group button {position: relative; width: 150px; padding: 10px 10px 12px; margin-bottom: 5px; font-size: 13px;}
.btn-primary {background-color: white; border-color: black; color:black;}
.product-info .btn-group button .icon {position: relative; margin-right: 6px; vertical-align: top;}
.btn-primary:hover {background-color: black;color: #ff0000; border: 1px solid white;}
//
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}

/* 책 디테일 */
#detail-container {width: 1000px; margin: 0 auto; position: relative; top: 50px;}
#detail-left-product {float: left; position: relative; width: 400px; margin-top: 27px; margin-right: 50px;}
#detail-left-product img {width: 200px; margin: 0 100px;}
#detail-right-product {float: left; position: relative; width: 510px;}
#detail-right-product h1 {overflow: hidden; margin-bottom: 6px; font-size: 28px; font-weight: 400; color: black; line-height: 37px;}
#detail-wrap-price {margin-top: 27px; border-bottom: 1px solid gray;}
#detail-price {padding-bottom: 27px; float: left; letter-spacing: 0;}
#detail-price strong {font-size: 30px; font-weight: bold;}
#detail-sns {padding: 15px 0; font-size: 25px; margin-left: 300px;}
.fa-twitter {color: #80ffff; position: relative; right: 30px;}
.fa-facebook {color: blue; position: relative; right: 50px;}
.fa-envelope-square {color: #008080; position: relative; right: 10px;}
#detail-ul-alert {border-bottom: 1px solid gray;}
#detail-wrap-form {margin-top: 27px; margin: 30px 0;}
#detail-book-form {margin: 6px 0; font-size: 14px; position: relative;}
#detail-book-form .label {font-weight: bold; display: block; line-height: 1; margin: 0 0 10px;}
#detail-table-form {width: 100%; margin: 20px; border-collapse: collapse; border-spacing: 0;}
#detail-table-form tr {font-size: 14px;}
#detail-table-form th {text-align: left; width: 80px; font-weight: bold; color: black; padding: 5px 0;}
#detail-count-form .label {font-weight: bold; display: block; line-height: 1; margin: 0 0 10px;}
#detail-count-form {margin: 6px 0; font-size: 14px; position: relative;}
#detail-book-count {text-align: right; height: auto; min-height: 50px; padding: 14px 12px; width: 200px;}
#detail-wrap-total-price {font-size: 30px; text-align: right;}
#detail-span-total {font-size: 20px;}
.total-count-price {padding-left: 40px; color: red; font-weight: bold; letter-spacing: 0;}
#detail-wrap-btn {text-align: right; margin: 20px 0;}
#detail-wrap-btn .fa-shopping-cart {width: 150px;}
#detail-wrap-btn .fa-arrow-right {width: 250px;}
#detail-wrap-product-detail {padding-bottom: 60px;}
#detail-wrap-product-div {margin-top: 22px; margin-bottom: -1px;}
#detail-wrap-product-ul {width: 100%; list-style: none; margin: 0; padding: 0;}
#detail-wrap-product-ul li {width: 50%; float: left; border-top: 1px solid gray; border-bottom: 1px solid gray; height: 30px; margin-bottom: -1px; padding-bottom: 10px; }
#detail-wrap-product-ul li a:hover {color: blue; text-decoration: none;}
#detail-wrap-product-ul li a {display: block; padding: 8px 1px 12px; font-weight: bold; font-size: 14px; line-height: 20px;}
#detail-wrap-product-ul .active {margin-bottom: -1px; padding-bottom: 10px; border-bottom: 3px solid blue;}
#detail-div-introduction {width: 1000px; height: 500px;}
#detail-div-introduction h3 {text-align: center;font-size: 30px;font-weight: bold;}
#detail-div-preview {width: 1000px; height: 500px;}
#detail-div-preview h3 {text-align: center;font-size: 30px;font-weight: bold;}
.list-more-btn {width: 740px;height: 50px;background: black;color: #f8f8f8;}
.list-more-btn:hover {color: red; font-weight: bold;}
#list-more h2 {text-align: center; color: red}
#list-more h3 {text-align: center;}
.btn-menu {background: black;color: white;border: 1px solid white; width: 80px; height: 30px;position: relative;float: right; font-weight: bold;}
.btn-top {background: black;color: white;border: 1px solid white; width: 80px; height: 30px;position: relative;float: right; bottom: 50px; font-weight: bold;}
.floating {position: fixed; right: 1px; top: 510px;text-align: center; width: 200px; z-index: 5;}
.floating div {width: 80px;position: relative;left: 120px;background: black;height: 26px;}
#floating-div-2 {top: 10px;}
#floating-div-3 {top: 20px;}
.floating div a {color: white; font-weight: bold; position: relative;}
.floating div a:hover {color:red;}
.btn-top:hover {color:red;}
.btn-menu:hover {color:red;}


