<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookk.web.mapper.Mapper">
    <resultMap type="java.util.HashMap" id="map">
		<result property="id" column="MEM_ID"/>
		<result property="pass" column="MEM_PASS"/>
		<result property="memstatus" column="MEMSTATUS"/>
		<result property="name" column="MEM_NAME"/>
		<result property="ssn" column="MEM_SSN"/>
		<result property="phone" column="MEM_PHONE"/>
		<result property="email" column="MEM_EMAIL"/>
		<result property="addr" column="MEM_ADDRESS"/>
		<result property="id" column="ADM_ID"/>
		<result property="pass" column="ADM_PASS"/>
	</resultMap>
	<insert id="addMember" parameterType="hashMap">
    INSERT INTO
     MEMBER(MEM_ID,MEM_PASS,MEM_NAME,MEM_EMAIL,MEM_PHONE,MEM_SSN,MEM_ADDRESS)
     VALUES('${id}','${pass}','${name}','${email}','${phone}','${ssn}',${address})
    </insert>
    <select id="selectMemberById" resultMap="map" parameterType="hashMap">
    SELECT *
    FROM MEMBER
    WHERE
	${colum} LIKE #{data}
    </select>
    <select id="selectById" resultMap="map" parameterType="hashMap">
    SELECT *
    FROM ${type}
    WHERE
	${colum1} LIKE #{data1} AND ${colum2} LIKE #{data2}
    </select>
</mapper>