<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookk.web.mapper.Mapper">
    <resultMap type="java.util.HashMap" id="map">
		<result property="id" column="MEM_ID"/>
		<result property="pass" column="PASS"/>
		<result property="memstatus" column="MEMSTATUS"/>
		<result property="name" column="NAME"/>
		<result property="ssn" column="SSN"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="addr" column="ADDRESS"/>
		<result property="id" column="ADM_ID"/>
		<result property="pass" column="ADM_PASS"/>
	</resultMap>
	<insert id="addMember" parameterType="hashMap">
    INSERT INTO
     MEMBER(MEM_ID,PASS,NAME,EMAIL,PHONE,SSN,ADDRESS)
     VALUES('${id}','${pass}','${name}','${email}','${phone}','${ssn}',${address})
    </insert>
    <select id="selectMemberById" resultMap="map" parameterType="hashMap">
    SELECT *
    FROM MEMBER
    WHERE
	${colum} LIKE #{data}
    </select>
    <select id="selectById" resultMap="map" parameterType="hashMap">
    SELECT *
    FROM ${type}
    WHERE
	${colum} LIKE #{data}
    </select>
</mapper>